[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[requires]

python_version = "3.6"


[dev-packages]

six = "*"
pyinstaller = "*"
cx-freeze = "*"


[packages]

requests = "*"
"e1839a8" = {path = ".", editable = true}
pystache = "*"
qrcode = "*"
pillow = "*"
cryptography = "*"
